.App {
    margin: 0;
    width: 100%;
}

.info {
    margin: 20px;
    margin-top: 35px;
}

.botones {
    color: black;
    font-size: 20px;
    background: none;
    border: none;
    margin: 10px;
}

.nav {
    display: flex;
    flex: column;
}

.botones:hover {
    color: rgb(137, 135, 141);
}

.foto {
    width: 50px;
    border-radius: 50px;
    margin: 10px;
}

.carrito {
    background-color: aliceblue;
    padding: 3px;
    margin-right: 3px;
}

.botonCarrito {
    background-color: aliceblue;
    border-radius: 8px;
}

.carrito:hover {
    padding: 0;
}

.stock {
    display: flex;
    flex-direction: row;
    margin: 40px;
    margin-top: 70px;
}

.sumar {
    margin: 10px;
    background-color: rgb(73, 72, 72);
    border-radius: 10px;
    border-style: groove;
    color: aliceblue;
}

.hola {
    margin: 10px;
    width: 20px;
    text-align: center;
}

.carritoBoton {
    margin-left: 40px;
    border-radius: 10px;
}